{% extends 'base.html' %}
{% load static %}
{% block body %}

<style>
    /* Overall Page Styling */
    body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      margin: 0;
      padding: 0;
    }

    h1 {
      text-align: center;
      font-size: 30px;
      margin: 40px 0;
    }

    .form-container {
      border-radius: 10px;
      background-color: #ffffff;
      padding: 30px;
      max-width: 450px;
      margin: 50px auto;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding subtle shadow for depth */
    }

    /* Form Input Styles */
    input, button {
      width: 100%;
      padding: 12px 20px;
      margin: 10px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 16px;
    }

    input:focus, button:focus {
      border-color: #4CAF50;
      outline: none;
    }

    input[type="submit"], button[type="submit"] {
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 18px;
      margin-top: 20px;
    }

    input[type="submit"]:hover, button[type="submit"]:hover {
      background-color: #45a049;
    }

    input[type="file"] {
      border: 1px solid #ccc;
      padding: 12px 20px;
      border-radius: 4px;
    }

    /* Error Styling */
    .error {
      color: red;
      font-size: 14px;
    }

    /* Responsive Adjustments */
    @media screen and (max-width: 600px) {
      .form-container {
        padding: 20px;
        max-width: 100%;
      }

      h1 {
        font-size: 24px;
        margin: 20px 0;
      }
    }
</style>

<body>
    <div class="container">
        <h1>Add Your Resume</h1>
        <div class="form-container">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>

{% endblock body %}
